h1{
    color:#ab5428;
}
p{
    color:rgb(48,163,255);
    font-size: 16px;
    font-family: Arial;
    font-weight: 700;
    line-height: 1.25px;
    text-align: left;/*left right center justify*/
    text-transform: uppercase;/* uppercase lowercase capitalize none*/
    text-decoration: underline;/*underline line-through overline none*/
    text-indent: 10px;
    font-style: italic;
    border-bottom: violet   ;
    width: 500px;
    body {
        background color: #f5f5dc
        background-image:url("../images/mayanh.jpg");
        background-size: cover;

    }

}